<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

  <display-name>MedagouWeb</display-name>
  <!-- 告知javaEE容器，有哪些内容需要添加到上下文中去 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
	    	classpath:applicationContext.xml
    	</param-value>
	</context-param>

<filter>
    <filter-name>SEM SSO Login</filter-name>
    <filter-class>common.filter.SemLogonFilter</filter-class>
    <init-param>
      <param-name>LOGIN_PAGE</param-name>
      <param-value>logonJumpController/</param-value>
    </init-param>

    <init-param>
      <param-name>LOGIN_IMPL_CLASS</param-name>
      <param-value>common.bussiness.LogonImpl</param-value>
    </init-param>
    <init-param>
			<param-name>SYSTEM_ID</param-name>
			<param-value>10</param-value>
	</init-param>
	<init-param>
			<param-name>PROXY_LOGIN</param-name>
			<param-value>true</param-value>
	</init-param>
    <init-param>
      <param-name>filterPageSuffixs</param-name>
      <param-value>do,jsp</param-value>
    </init-param>
    <init-param>
      <param-name>needlessFilterPages</param-name>
      <param-value>tempOrderController,loginController,login.jsp,moduleController,appAction.do,logonJumpController,error.jsp,medaigou.jsp,finish.jsp,frameworkWeb,medaigouWeb</param-value>
    </init-param>
    <init-param>
      <param-name>SESSION_USER_CLASS</param-name>
      <param-value>common.web.bean。SessionUserBean</param-value>
    </init-param>
     <init-param>
      <param-name>finalURL</param-name>
      <param-value>FINAL_URL</param-value>
    </init-param>
    </filter>
    
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	 <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>common.filter.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 
	<filter-mapping>
	    <filter-name>SEM SSO Login</filter-name>
	    <url-pattern>/*</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>Set Character Encoding</filter-name>
	    <servlet-name>SpringMVC</servlet-name>
	  </filter-mapping>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 防止内存泄露 -->  
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 默认情况下：DispatcherServlet会寻找WEB-INF下，命名规范为[servlet-name]-servlet.xml文件。如：在上例中，它就会找/WEB-INF/spring-servlet.xml
                               如果需要修改，需要在web.xml中的<servlet>标记中增加 <init-param>。。。  </init-param>：-->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
  
</web-app>
